<section class=" max-w-6xl mx-auto px-5 py-10 relative">
    <img src="/halftone.svg" alt="Medio tono" class="absolute top-5 -right-16 z-0">
    <img src="/elipse3.svg" alt="elipse" class="absolute -bottom-5 -left-16 z-0">
    <div class="px-6 py-10 md:p-20  bg-slate-800 rounded-4xl space-y-5 relative z-10">
        <h4 class="text-center">¿Listo para llevar tu equipo al siguiente nivel?</h4>
        <div class="text-center text-white text-lg">
            Solicita una cotización para nuestras lecciones de inglés empresarial y 
            descubre cómo podemos ayudarte a comunicarte con confianza y dominar el lenguaje de los negocios.
        </div>
        <div class="text-center">
            <a href="/contacto" class="inline-flex items-center px-6 py-3 rounded-xl font-medium transition-colors bg-slate-800 text-white hover:text-slate-800 hover:bg-white border border-white">Contáctanos</a>
        </div>
    </div>
</section>