<section class="max-w-5xl mx-auto px-5 py-10 relative z-10 space-y-10">
  <div class="space-y-5">
    <h6 class="text-center text-xl font-semibold">Nuestros Programas</h6>
    <p class="text-center text-lg">
      Nuestros programas están diseñados para proporcionar a los estudiantes una experiencia educativa completa, enfocada en mejorar sus habilidades lingüísticas y profesionales.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="bg-white shadow-xl rounded-2xl overflow-hidden">
      <div class="bg-slate-800 p-5 md:p-10 space-y-3">
        <div class="text-white font-bold text-2xl">Pearson</div>
        <div class="text-white">
          El curso Business Partner de Pearson para inglés de negocios es uno de los más productivos del mercado.
        </div>
      </div>
      <ul>
        <li class="p-5 md:p-10 space-y-3 border-t border-slate-200">
          <div class="font-bold text-lg">
            Escenarios empresariales reales
          </div>
          <p>
            El curso se basa en situaciones de negocio auténticas, ayudando a los estudiantes a desarrollar habilidades lingüísticas que pueden aplicar directamente en el entorno profesional.
          </p>
        </li>
        <li class="p-5 md:p-10 space-y-3 border-t border-slate-200">
          <div class="font-bold text-lg">
            Desarrollo de habilidades blandas
          </div>
          <p>
            Además de mejorar el dominio del idioma, el programa se centra en habilidades clave para los negocios como la comunicación, presentaciones y negociaciones, esenciales para el crecimiento profesional.
          </p>
        </li>
        <li class="p-5 md:p-10 space-y-3 border-t border-slate-200">
          <div class="font-bold text-lg">
            Rutas de aprendizaje personalizables
          </div>
          <p>
            Business Partner permite flexibilidad, adaptándose a las necesidades de cada estudiante, lo que permite enfocarse en áreas específicas de interés o mejora.
          </p>
        </li>
      </ul>
    </div>
    <div class="bg-white shadow-xl rounded-2xl overflow-hidden">
      <div class="bg-slate-800 p-5 md:p-10 space-y-3">
        <div class="text-white font-bold text-2xl">Cengage</div>
        <div class="text-white">
          La colaboracion de Cengage con National Geographic da como resultado el curso Voices de ingles general, ofreciendo resultados sorprendentes
        </div>
      </div>
      <ul>
        <li class="p-5 md:p-10 space-y-3 border-t border-slate-200">
          <div class="font-bold text-lg">
            Contenido visualmente impactante
          </div>
          <p>
            Al integrar imágenes y videos de National Geographic, el curso ofrece una experiencia de aprendizaje más atractiva y motivadora, ayudando a los estudiantes a conectar el aprendizaje del idioma con el mundo real.
          </p>
        </li>
        <li class="p-5 md:p-10 space-y-3 border-t border-slate-200">
          <div class="font-bold text-lg">
            Desarrollo de habilidades del siglo XXI
          </div>
          <p>
            Además del aprendizaje del idioma, Voices fomenta competencias como el pensamiento crítico, la comunicación efectiva y la colaboración, esenciales en entornos académicos y profesionales actuales.
          </p>
        </li>
        <li class="p-5 md:p-10 space-y-3 border-t border-slate-200">
          <div class="font-bold text-lg">
            Enfoque en la pronunciación y la fluidez
          </div>
          <p>
            El curso incluye actividades específicas para mejorar la pronunciación y desarrollar la confianza al hablar, ayudando a los estudiantes a comunicarse con mayor naturalidad en situaciones reales.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>