---

---

<section class="max-w-4xl mx-auto px-5 py-10 relative z-10">
    <img src="/halftone.svg" alt="Medio tono" class="absolute top-24 -left-16 md:z-20 z-0">
    <img src="/elipse.svg" alt="elipse" class="absolute -bottom-5 -right-16 z-0">
    <div class="px-6 py-10 md:p-20 bg-white shadow-xl rounded-4xl space-y-5 relative z-10">
        <h6 class="text-center">Cursos de inglés diseñados para potenciar tus habilidades</h6>
        <p class="text-center text-lg">
            Nuestros programas están estructurados para brindarte una experiencia de aprendizaje personalizada, con clases dinámicas y un enfoque comunicativo que te permitirá avanzar rápidamente. Contamos con instructores calificados y recursos interactivos que te guiarán en cada paso de tu aprendizaje.
        </p>
    </div>

</section>