---
import { Image } from 'astro:assets';

const {
  title,
  description,
  image,
  imageAlt = '',
} = Astro.props;
---

<div class="flex flex-col md:flex-row items-center justify-center max-w-6xl mx-auto gap-10 md:gap-20 relative px-4 md:mt-24 pb-10">
  <img src="/elipse-w.svg" alt="Elipse" class="absolute top-32 -left-36">
  <div class="md:flex-3/5 space-y-5 relative mt-32 md:mt-0">
    <h1 set:html={title}></h1>
    <p class="text-lg">{description}</p>
  </div>
  <div class="md:flex-2/5 relative">
    <Image class:list={["w-full h-auto rounded-bl-4xl rounded-tr-4xl md:rounded-tr-none relative z-10"]} src={image} loading="lazy" alt={imageAlt} />
    <img src="/halftone.svg" alt="Medio tono" class="absolute top-10 -left-32 z-20">
    <img src="/elipse.svg" alt="Elipse" class="absolute bottom-10 -right-20">
  </div>
</div>